<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <!-- Extent report listeners -->
  <listeners>
    <listener class-name="RvNLearn.testComponents.Listeners" />
  </listeners>
  <test thread-count="5" name="Main Page Test">
    <classes>
      <class name="RvNLearn.tests.MainPageTest"/>
    </classes>
  </test>
  <test thread-count="5" name="Error Validation">
    <classes>
      <class name="RvNLearn.tests.ErrorValidation"/>
    </classes>
  </test>
</suite> 
